################################################################################
# 이 .gitignore 파일은 Microsoft(R) Visual Studio에서 자동으로 만들어졌습니다.
################################################################################

*.opendb
*.tlog
*.ipch
PingMaker/ipch
*.suo
PingMaker/PingMaker.VC.db
PingMaker/.vs
PingMaker/PingMaker/Debug/*
PingMaker/Debug/*
*.db